<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Panel.css" rel="stylesheet" />
</head>
<body>
    <div class="Menu">
        <a href="">HomePage</a>|   <a href="/AdminPanel/Routs">Rous</a>|   <a href="/AdminPanel/FlightSchedule/index"> Flight Schdule</a>|   <a href="/AdminPanel/Reservs/index">Reservation</a>|   <a href="">Top News</a>
    </div>
    <div class="Holder" style="overflow-x: auto;">
        @RenderBody()
    </div>
</body>
</html>
